#quoteContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 10%;
}

#qB {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background-color: black;
}

#quote {
    color: white;
    padding: 50px;

}

#quoteAuthor {
    text-align: right;
    font-size: 1.5em;
}

#btnNewQuote {
    padding: 10px;
    margin: 0 auto;
    display: block;
}